.landingTitle {
  position: absolute;
  width: 1155px;
  height: 226px;
  left: 41px;
  top: 153px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 85px;
  line-height: 103px;
  color: #FFFFFF;
  z-index: 999;
}

.landingSubtitle {
  position: absolute;
  width: 759px;
  height: 93px;
  left: 43px;
  top: 348px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;
  display: flex;
  align-items: center;

  color: #FFFFFF;

}

.landingDescription {
  position: absolute;
  width: 670px;
  height: 74.8px;
  left: 41px;
  top: 443px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
}

.topGradient-1 {
  position: absolute;
  width: 333.79px;
  height: 636.58px;
  left: 241.91px;
  top: -485px;
  background: linear-gradient(180deg, #FB03F5 0%, #AA9CFF 100%);
  filter: blur(189.415px);
  transform: rotate(76.66deg);
}

.topGradient-2 {
  position: absolute;
  width: 246.55px;
  height: 346.55px;
  left: -144.2px;
  top: 140.18px;
  background: linear-gradient(180deg, #2603FB 0%, #DC06FF 100%);
  filter: blur(353.465px);
  transform: rotate(-22.54deg);
}

.topGradient-3 {
  position: absolute;
  width: 397.41px;
  height: 818.52px;
  left: 19.13px;
  top: -620px;
  background: linear-gradient(261.63deg, #7000FF 4.87%, #06FFF0 87.02%);
  filter: blur(267.94px);
  transform: rotate(54.35deg);
}

.mintButton {
  align-items: center;
  padding: 10px 32px;

  position: absolute;
  width: 220px;
  height: 46.99px;
  left: 250px;
  top: 555.48px;
  background: linear-gradient(98.35deg, #2603FB 18.95%, #DC06FF 96.51%);
  border-radius: 100px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 50px;
}

.spiralBG {
  position: absolute;
  object-fit: cover;
}